# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = deal_finder.settings

[deploy]
#url = http://localhost:6800/
project = deal_finder

[POSTGRESS_DB]
HOSTNAME = ec2-174-129-254-249.compute-1.amazonaws.com
DB_USERNAME = chqwaffuxlymwy
DB_PASSWORD = 10e2e9e33509b52bb51dbbfaee48217ab6a4e3e4dd4de08952636a4ab9d7fb58
DATABASE = df3bo7fod72kks